[default]
region = us-east-1
aws_access_key_id = 
aws_secret_access_key = 

[profile prod]
role_arn = <AWS_ARN>
credential_source=Ec2InstanceMetadata


[dev]
region=us-east-1
aws_access_key_id = 
aws_secret_access_key =
